

    .main{
        background-image: url(./images/wallpaperflare.com_wallpaper\ \(6\).jpg);
        width: 100%;
        min-height: 740px;
        max-height: max-content;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    *{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
    }
