

    .main{
        background-image: url(./images/wp4036133-jawa-bike-wallpapers.jpg);
        width: 100%;
        min-height: 700px;
        max-height: max-content;
        background-size:cover;
        background-repeat: no-repeat;
    }
